{% extends 'base.html' %}

{% block title %}Marking Scheme{% endblock %}

{% block body %}
<h2>Marking Scheme</h2>
<p class="lead text-muted"><strong>Question:</strong> {{question.text}}</p>
<hr>
<h3>Answers</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Answer</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    {% for answer in question.markinganswer_set.all %}
    <tr>
        <td>{{ answer.id }}</td>
        <td>{{ answer.text }}</td>
        <td>
            <a href="{% url 'scheme.edit' answer.id %}" class="btn btn-sm btn-primary">Edit</a>
            <a href="{% url 'scheme.remove' answer.id %}" class="btn btn-sm btn-danger">Remove</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3"><a href="{% url 'scheme.add' question.id %}" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus-sign"></i> Add Answer</a></td>
    </tr>
    </tfoot>
</table>
{% endblock %}