Django==1.6
Jinja2==2.7.2
MarkupSafe==0.18
Pattern==2.6
PyYAML==3.11
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
distribute==0.6.34
django-registration==1.0
munkres==1.0.6
nltk==2.0.4
nose==1.3.0
python-Levenshtein==0.11.2
sockjs-tornado==1.0.0
threadpool==1.2.7
tornado==3.2
wsgiref==0.1.2
